################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PipeTeste/.vs/PipeTeste/DesignTimeBuild
/PipeTeste/.vs/PipeTeste/v17/.suo
/PipeTeste/bin/Debug/net6.0
/PipeTeste/obj/Container
/PipeTeste/obj
